deep-learning-v2-pytorch-master/
*checkpoint.ipynb
__pycache__/
Cat_Dog_data
*.pth
*.pt
**/data/raw
**/cifar-cnn/data
**/lfw
**/dogImages
**/data/dog_images
**/data/lfw
**/summer2winter_yosemite/
**/processed-celeba-small/